.hover-scale:hover {
    transform: scale(1.5);
    filter: brightness(130%);
}

.card-img-wrapper {
    overflow: hidden;
}

.hover-scale {
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    transition: ease-in 0.5s;
    filter: brightness(100%);
}